<head>
	<style>
		.footer {
			color: white;
			font-weight: 600;
		}
	</style>
</head>

<footer class="footer py-3 mt-auto">
	<div class="container text-center">
		<span>&copy; 2022 DestinationHunt</span>
	</div>
</footer>
