<head>
	<style>
		.footer {
			color: white;
			font-weight: 600;
		}
	</style>
</head>

<footer class="footer py-3 mt-auto">
	<div class="container text-center">
		<p>&copy; 2022 DestinationHunt</p>
		<p>Developed By : Chaitanya Nagdev & Vishvaraj Maharaulji</p>
	</div>
</footer>
