<head>
	<style>
		.nav-link,
		.navbar-brand {
			color: white;
			font-weight: 600;
		}
		.nav-link:hover,
		.navbar-brand:hover {
			color: black;
		}

		.navbar-toggler,
		.navbar-toggler:active {
			color: white;
		}
	</style>
</head>
<nav class="navbar sticky-top navbar-expand-lg">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">DestinationHunt</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarNavAltMarkup"
			aria-controls="navbarNavAltMarkup"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<img
				src="https://res.cloudinary.com/dr3bbn6yy/image/upload/c_scale,h_32,w_32/v1667885660/DestinationHunt/icons8-expand-arrow-64_ilz7zv.png"
			/>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-link" href="/">Home</a>
				<a class="nav-link" href="/venues">Venues</a>
				<a class="nav-link" href="/venues/new">New</a>

				<a class="nav-link" href="/events">Events</a>
			</div>
			<div class="navbar-nav ms-auto">
				<% if(!currentUser){ %>
				<a class="nav-link" href="/login">Login</a>
				<a class="nav-link" href="/register">Register</a>
				<%}else{ %>
				<ul class="navbar-nav me-2">
					<li class="nav-item dropdown">
						<a
							class="nav-link dropdown-toggle"
							href="#"
							id="userLink"
							role="button"
							data-bs-toggle="dropdown"
							aria-expanded="false"
						>
							<%= currentUser.username %>
						</a>
						<ul
							class="dropdown-menu dropdown-menu-dark"
							aria-labelledby="userLink"
						>
							<li>
								<a
									class="dropdown-item"
									href="/<%= currentUser._id %>/profile"
									>Profile</a
								>
							</li>
							<li>
								<hr class="dropdown-divider" />
							</li>
							<li><a class="dropdown-item" href="/logout">Logout</a></li>
						</ul>
					</li>
				</ul>
				<% } %>
			</div>
		</div>
	</div>
</nav>
