body {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1589524058053-8a51103ad857?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d2F0ZXIlMjBidWJibGVzfGVufDB8MnwwfHw%3D&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-position: center;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.card {
  background: rgba(255, 255, 255, 0);
  border: none;
}

a#blog-a {
  color: #0d6efd;
  text-decoration: none;
}

a#blog-a:hover {
  color: white;
  text-decoration: none;
}

a#blog-a[aria-expanded="true"] {
  color: white;
  text-decoration: none;
}

a#blog-a[aria-expanded="true"]:hover {
  color: #0d6efd;
  text-decoration: none;
}
